if has lorri; then
  eval "$(lorri direnv)"
elif has nix; then
  echo "Using flake fallback since lorri isn't installed"
  use flake
else
    # noop
    echo "Unsupported direnv configuration. We need nix flake support and lorri installed"
fi
