[package]
name = "kitchen-wasm"
version = "0.2.7"
edition = "2021"

[features]
ssr = []
web = []
default = ["web"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
recipes = {path = "../recipes" }
reqwasm = "0.5.0"
# This makes debugging panics more tractable.
console_error_panic_hook = "0.1.7"
serde_json = "1.0.79"
tracing = "0.1.35"
tracing-browser-subscriber = {path = "/Users/zaphar/projects/tracing-browser-console"}

[dependencies.wasm-bindgen]
# we need wasm-bindgen v0.2.78 exactly
version = "0.2.78"

[dependencies.web-sys]
version = "0.3"
features = [
    "Event",
    "EventTarget",
    "History",
    "HtmlAnchorElement",
    "HtmlBaseElement",
    "KeyboardEvent",
    "Location",
    "PopStateEvent",
    "Url",
    "Window",
    "Storage"
]

[dependencies.sycamore]
version = "0.7.1"
features = ["futures", "serde", "default"]

[profile.release]
lto = true
opt-level = "s"